<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Welcome to the Expense Tracker!</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Welcome to the Expense Tracker!</h1>
    <form action="{{ url_for('main.add_expense') }}" method="post">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required>
        <input type="submit" value="Add Expense">
    </form>
    <input type="text" id="searchInput" placeholder="Search for expenses..." onkeyup="searchExpenses()">
    <ul id="expenseList">
        {% for expense in expenses %}
            <li>{{ expense.description }}: ${{ expense.amount }}</li>
        {% endfor %}
    </ul>
    <script>
        function searchExpenses() {
            var input, filter, ul, li, i, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById('expenseList');
            li = ul.getElementsByTagName('li');

            for (i = 0; i < li.length; i++) {
                txtValue = li[i].textContent || li[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>



